.login-part{
    width: 80%;
    height: auto;
    box-shadow: 3px 3px 5px gray ;
    border-radius: 5px;
    display: grid;
    padding: 20px;
    margin: 30px;
    text-align: center;
    background-color:lavender;
    

}

.button-style{
    border-radius: 5px;
    border: 1px solid black;
}


/* .or-style{
    border-right: 1px solid black;
    border-left: 1px solid black;
} */